/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBannerHomePage, .heroBanner {
  padding: 0rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: var(--ifm-color-herobanner);
  min-height: 400px;
}

.heroBanner {
  padding: 4rem 0;
}

.heroBannerImage {
  width: 40%;
  border-radius: 0; 
  clip-path: polygon(20% 0, 100% 0, 100% 100%, 0% 100%);
  object-fit: cover;
  min-height: 400px;
}

@media screen and (max-width: 996px) {
  .heroBannerHomePage, .heroBanner {
    padding: 2rem 0;
  }
  .heroBannerImage {
    display: none  ;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.whitebutton {
  background-color: white;
  border: 0;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.whitebutton:hover {
  background-color: lightgray;
}
