/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

:root {
  --cr-blue: #1d2e55;
  --cr-blue-green-light: #7dc6b6;
  --cr-blue-green-dark: #36827F;
  --cr-blue-light: #357DED;
}


/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: var(--cr-blue-green-dark);
  --ifm-color-herobanner: var(--cr-blue);
  --ifm-color-secondary: var(--cr-blue-green-light);
  --ifm-link-color: var(--cr-blue-light);
  --ifm-color-primary-darker: var(--cr-blue-light);
  --ifm-code-font-size: 95%;
  --ifm-navbar-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.1);
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-color-info-contrast-background : rgb(255, 255, 255);
  --ifm-color-info-dark : var(--cr-blue-green-dark);
}

.alert {
  box-shadow: 0px 0px 6px 0 rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: var(--cr-blue-green-light);
  --ifm-color-herobanner: var(--cr-blue-green-light);
}

figcaption {
  font-size: 0.8em;
  font-style: italic;
  color: #777;
  text-align: center;
}

img {
  border-radius: 0.5em;
}

.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}




