/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

:root {
  --cr-blue: #1d2e55;
  --cr-blue-green-light: #7dc6b6;
  --cr-blue-green-dark: #36827F;
  --cr-blue-light: #357DED;
}


/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: var(--cr-blue-green-dark);
  --ifm-color-herobanner: var(--cr-blue);
  --ifm-color-secondary: var(--cr-blue-green-light);
  --ifm-link-color: var(--cr-blue-light);
  --ifm-color-primary-darker: var(--cr-blue-light);
  --ifm-code-font-size: 95%;
  --ifm-navbar-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.1);
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-color-info-contrast-background : rgb(255, 255, 255);
  --ifm-color-info-dark : var(--cr-blue-green-dark);
}

.alert {
  box-shadow: 0px 0px 6px 0 rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: var(--cr-blue-green-light);
  --ifm-color-herobanner: var(--cr-blue-green-light);
}

figcaption {
  font-size: 0.8em;
  font-style: italic;
  color: #777;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 10px
}

img {
  border-radius: 0.5em;
}

.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.unique-tabs .tabs__item {
  margin-right: 8px;
  line-height: 16px;
}

.unique-tabs .tabs__item--active {
  color: #fff;
  border-radius: var(--ifm-global-radius);
  background-color: var(--ifm-tabs-color-active);
  border: 0
}

.tabs-container {
  border-left: var(--ifm-alert-border-left-width) solid
  var(--ifm-blockquote-border-color);
  box-shadow: var(--ifm-blockquote-shadow);
  color: var(--ifm-blockquote-color);
  font-size: var(--ifm-blockquote-font-size);
  margin: 0 0 var(--ifm-spacing-vertical);
  padding: var(--ifm-blockquote-padding-vertical)
    var(--ifm-blockquote-padding-horizontal);
}

.table-of-contents__link--active, .table-of-contents__link--active code {
  color: var(--ifm-color-primary);
  -webkit-text-decoration: none;
  text-decoration: none;
  font-weight: bold;
}

.menu__link {
  font-weight: normal;
  font-size: normal;
}

.menu__link--active {
  color: var(--ifm-menu-color-active);
  font-weight: bold;
}

.drop-shadow{
  box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 2px, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
}
