input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

input:focus {
    border-color: #4CAF50;
    outline: none;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

select, textarea, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

select:focus, textarea:focus, button:focus {
    border-color: var(--ifm-color-secondary);
    outline: none;
}

button {
    background-color: var(--ifm-color-secondary);
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: var(--ifm-color-primary-darker);
}