name: Test deployment

on:
  pull_request:
    branches:
      - main

jobs:
  test-deploy:
    name: Test deployment
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: npm

      - name: Fetch API docs
        shell: bash
        run: |
          curl --output-dir "./docs/Developers" -L https://github.com/SofaComplianceRobotics/Emio.API/releases/download/release-main/emio-api.md
          
      - name: Install dependencies
        run: npm ci
      - name: Test build website
        run: npm run build